@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: "Gurmukhi MN Regular";
  font-display: swap;
  src: local("Custom Font"),
    url("./assets/fonts/GurmukhiMN.woff2") format("woff2"),
    url("./assets/fonts/GurmukhiMN.woff") format("woff"),
    url("./assets/fonts/GurmukhiMN.otf") format("opentype");
}

$navbar-background-color: transparent;

* {
  box-sizing: border-box;
  font-family: "Gurmukhi MN Regular";
  color: #232323 !important;
}

body {
  margin: 0px;
  padding: 0px;
}

// .hero-body {
//   background-image: url("./assets/hero1.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   min-height: 100vh;
// }

// .each-fade > div {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-size: cover;
//   background-position: center;
//   // height: 90vh;
//   width: 90vw;
// }

.each-fade > div img {
  width: 100%;
  object-fit: cover;
  display: flex;
}

.test {
  font-family: "Gurmukhi MN Regular";
}

.navbar {
  font-size: 28px;
}

.navbar img {
  max-height: 2.75rem !important;
}
// .navbar {
//   &.is-transparent {
//     background-color: transparent !important;
//     background-image: none;
//   }
// }

// .navbar-brand-img {
//   height: 100px;
// }
