@import "react-slideshow-image/dist/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0px;
  padding: 0px;
}

.test {
  border: 1px solid red;
}

.navbar-brand {
  font-weight: 700;
}

a.navbar-item:hover,
a:hover {
  color: rgb(170, 210, 255) !important;
}

.navbar-item img {
  max-height: 3rem !important;
}

@media screen and (max-width: 1023px) {
  .navbar-item img {
    max-height: 1.75rem !important;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
  .footer-info {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .inquiries-info {
    font-size: 1.3rem !important;
  }
  .inquiries-info-section {
    width: 90% !important;
  }
  .inquiries-section {
    text-align: center;
    width: 90% !important;
  }
}

.footer {
  padding: 4rem !important;
}

.footer-link {
  color: #4a4a4a !important;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
